@media (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}
nav {
  text-align: center;
}
nav a {
  margin-left: 10px;
  margin-top: 3px;
  color:#98ff98;
}
h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 30px;
}
button {
  border-radius: 12px;
  font-family: 'Freckle Face', cursive;
  background: #98ff98;
  color: white;
  height: 40px;
  width: 200px;
  font-size: 20px;
  position: absolute;
  left: 45%;
}
body{
  background: url("bg4.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Freckle Face', cursive;
  color: white;
}
